:root {
  --colour-text: #FDFDFF;
  --colour-text-accent: #5762D5;
  --colour-text-subtle: #ABABAC;
  --colour-text-emphasis: #FFFFFF;
  --colour-back: #252627;
  --colour-back-accent: rgba(56, 76, 253, 0.1);
  --colour-back-subtle: #1d1f20;
  --colour-border: #3a4549;
  --colour-border-subtle: #303b3f;
  --color-shadow-medium: 0 3px 6px #010409;
  --color-shadow-large: 0 8px 24px #010409;
  --colour-mids: #2D3639;
  --colour-mids-emphasis: #414b4e;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
}

.outer-list-item:hover {
  -moz-box-shadow: inset 0 0 5em 5em rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 5em 5em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 5em 5em rgba(255, 255, 255, 0.1);
}

.inner-list-item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 400;
}

.article-column {
  margin: 0;
  padding-inline-start: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.outer-list-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  min-height: 5px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  -webkit-transition: background 33.333ms linear;
  transition: background 33.333ms linear;
  color: var(--colour-back-subtle);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: unset;
  border: unset;
  width: calc(100% - 16px);
  font-family: unset;
  text-align: unset;
  margin-top: unset;
  margin-bottom: unset;
}

.outer-list-item [my_id="list-item-divide"] {
  position: relative;
}

.outer-list-item [my_id="list-item-divide"]::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  top: -7px;
  border: 0 solid;
  border-top-width: 0;
  border-color: var(--divider-color, transparent);
}

.outer-list-item:not(:first-of-type) {
  --divider-color: rgba(208, 215, 222, 0.48);
}

:root,[data-color-mode=dark][data-dark-theme*=light],[data-color-mode=light][data-light-theme*=light] {
  color-scheme: light;
}

[data-color-mode=dark][data-dark-theme*=dark],[data-color-mode=light][data-light-theme*=dark] {
  color-scheme: dark;
}

[data-color-mode] {
  color: var(--colour-text);
  background-color: var(--colour-back);
}

html {
  font-size: 16px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,footer,header,main,section {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: var(--colour-text);
  background-color: var(--colour-back);
}

a {
  color: var(--colour-text-accent);
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 32px;
}

h1,h2 {
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h3,h4 {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.boxed {
  background-color: var(--colour-back);
  border-color: var(--colour-border);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

.container-lg,.container-xl {
  margin-right: auto;
  margin-left: auto;
}

.container-xl {
  max-width: 1280px;
}

.col-12 {
  width: 100%;
}

@media (min-width:1012px) {
  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-2 {
    width: 16.66666666%;
  }

  .col-lg-3 {
    width: 24.99999999%;
  }

  .col-lg-4 {
    width: 33.33333332%;
  }

  .col-lg-5 {
    width: 41.66666665%;
  }

  .col-lg-6 {
    width: 49.99999998%;
  }

  .col-lg-7 {
    width: 58.33333331%;
  }

  .col-lg-8 {
    width: 66.66666664%;
  }

  .col-lg-9 {
    width: 74.99999997%;
  }

  .col-lg-10 {
    width: 83.3333333%;
  }

  .col-lg-11 {
    width: 91.66666663%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

.gutter {
  margin-right: -16px;
  margin-left: -16px;
}

.gutter>[class*=col-] {
  padding-right: 16px!important;
  padding-left: 16px!important;
}

@media (min-width:1012px) {
  .gutter-lg {
    margin-right: -16px;
    margin-left: -16px;
  }

  .gutter-lg>[class*=col-] {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

.tooltipped {
  position: relative;
}

.tooltipped:after {
  z-index: 1000000;
  padding: .5em .75em;
  font: normal normal 11px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--colour-text-emphasis);
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  content: attr(aria-label);
  background: var(--colour-mids-emphasis);
  border-radius: 6px;
}

.tooltipped:after,.tooltipped:before {
  position: absolute;
  display: none;
  pointer-events: none;
  opacity: 0;
}

.tooltipped:before {
  z-index: 1000001;
  width: 0;
  height: 0;
  color: var(--colour-mids-emphasis);
  content: "";
  border: 6px solid transparent;
}

.tooltipped-n:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 6px;
}

.tooltipped-n:before {
  top: -7px;
  right: 50%;
  bottom: auto;
  margin-right: -6px;
  border-top-color: var(--colour-mids-emphasis);
}

.tooltipped-n:after {
  transform: translateX(50%);
}

.border-top {
  border-top: 1px solid var(--colour-border)!important;
}

.border-bottom {
  border-bottom: 1px solid var(--colour-border)!important;
}

.color-shadow-medium {
  box-shadow: var(--color-shadow-medium)!important;
}

.colour-text {
  color: var(--colour-text)!important;
}

.colour-text-subtle {
  color: var(--colour-text-subtle)!important;
}

.color-bg-default {
  background-color: var(--colour-back)!important;
}

.color-bg-subtle {
  background-color: var(--colour-back-subtle)!important;
}

.colour-border-subtle {
  border-color: var(--colour-border-subtle)!important;
}

.flex-column {
  flex-direction: column!important;
}

.flex-wrap {
  flex-wrap: wrap!important;
}

.flex-justify-between {
  justify-content: space-between!important;
}

.flex-items-center {
  align-items: center!important;
}

.flex-items-baseline {
  align-items: baseline!important;
}

.flex-items-stretch {
  align-items: stretch!important;
}

.flex-1 {
  flex: 1 1!important;
}

.position-sticky {
  position: sticky!important;
}

.top-0 {
  top: 0!important;
}

.v-align-middle {
  vertical-align: middle!important;
}

.width-full {
  width: 100%!important;
}

.height-full {
  height: 100%!important;
}

.min-width-0 {
  min-width: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mt-1 {
  margin-top: 4px!important;
}

.mt-2 {
  margin-top: 8px!important;
}

.ml-2 {
  margin-left: 8px!important;
}

.mb-3 {
  margin-bottom: 16px!important;
}

.mr-3 {
  margin-right: 16px!important;
}

.mb-4 {
  margin-bottom: 24px!important;
}

.ml-4 {
  margin-left: 24px!important;
}

.mt-6 {
  margin-top: 40px!important;
}

.mb-6 {
  margin-bottom: 40px!important;
}

.my-6 {
  margin-top: 40px!important;
  margin-bottom: 40px!important;
}

@media (min-width:1012px) {
  .m-lg-0 {
    margin: 0!important;
  }

  .mt-lg-0 {
    margin-top: 0!important;
  }

  .mb-lg-0 {
    margin-bottom: 0!important;
  }

  .mr-lg-0 {
    margin-right: 0!important;
  }

  .ml-lg-0 {
    margin-left: 0!important;
  }

  .my-lg-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }

  .m-lg-1 {
    margin: 4px!important;
  }

  .mt-lg-1 {
    margin-top: 4px!important;
  }

  .mb-lg-1 {
    margin-bottom: 4px!important;
  }

  .mr-lg-1 {
    margin-right: 4px!important;
  }

  .ml-lg-1 {
    margin-left: 4px!important;
  }

  .mt-lg-n1 {
    margin-top: calc(-1* 4px)!important;
  }

  .mb-lg-n1 {
    margin-bottom: calc(-1* 4px)!important;
  }

  .mr-lg-n1 {
    margin-right: calc(-1* 4px)!important;
  }

  .ml-lg-n1 {
    margin-left: calc(-1* 4px)!important;
  }

  .my-lg-1 {
    margin-top: 4px!important;
    margin-bottom: 4px!important;
  }

  .m-lg-2 {
    margin: 8px!important;
  }

  .mt-lg-2 {
    margin-top: 8px!important;
  }

  .mb-lg-2 {
    margin-bottom: 8px!important;
  }

  .mr-lg-2 {
    margin-right: 8px!important;
  }

  .ml-lg-2 {
    margin-left: 8px!important;
  }

  .mt-lg-n2 {
    margin-top: calc(-1* 8px)!important;
  }

  .mb-lg-n2 {
    margin-bottom: calc(-1* 8px)!important;
  }

  .mr-lg-n2 {
    margin-right: calc(-1* 8px)!important;
  }

  .ml-lg-n2 {
    margin-left: calc(-1* 8px)!important;
  }

  .my-lg-2 {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
  }

  .m-lg-3 {
    margin: 16px!important;
  }

  .mt-lg-3 {
    margin-top: 16px!important;
  }

  .mb-lg-3 {
    margin-bottom: 16px!important;
  }

  .mr-lg-3 {
    margin-right: 16px!important;
  }

  .ml-lg-3 {
    margin-left: 16px!important;
  }

  .mt-lg-n3 {
    margin-top: calc(-1* 16px)!important;
  }

  .mb-lg-n3 {
    margin-bottom: calc(-1* 16px)!important;
  }

  .mr-lg-n3 {
    margin-right: calc(-1* 16px)!important;
  }

  .ml-lg-n3 {
    margin-left: calc(-1* 16px)!important;
  }

  .my-lg-3 {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
  }

  .m-lg-4 {
    margin: 24px!important;
  }

  .mt-lg-4 {
    margin-top: 24px!important;
  }

  .mb-lg-4 {
    margin-bottom: 24px!important;
  }

  .mr-lg-4 {
    margin-right: 24px!important;
  }

  .ml-lg-4 {
    margin-left: 24px!important;
  }

  .mt-lg-n4 {
    margin-top: calc(-1* 24px)!important;
  }

  .mb-lg-n4 {
    margin-bottom: calc(-1* 24px)!important;
  }

  .mr-lg-n4 {
    margin-right: calc(-1* 24px)!important;
  }

  .ml-lg-n4 {
    margin-left: calc(-1* 24px)!important;
  }

  .my-lg-4 {
    margin-top: 24px!important;
    margin-bottom: 24px!important;
  }

  .m-lg-5 {
    margin: 32px!important;
  }

  .mt-lg-5 {
    margin-top: 32px!important;
  }

  .mb-lg-5 {
    margin-bottom: 32px!important;
  }

  .mr-lg-5 {
    margin-right: 32px!important;
  }

  .ml-lg-5 {
    margin-left: 32px!important;
  }

  .mt-lg-n5 {
    margin-top: calc(-1* 32px)!important;
  }

  .mb-lg-n5 {
    margin-bottom: calc(-1* 32px)!important;
  }

  .mr-lg-n5 {
    margin-right: calc(-1* 32px)!important;
  }

  .ml-lg-n5 {
    margin-left: calc(-1* 32px)!important;
  }

  .my-lg-5 {
    margin-top: 32px!important;
    margin-bottom: 32px!important;
  }

  .m-lg-6 {
    margin: 40px!important;
  }

  .mt-lg-6 {
    margin-top: 40px!important;
  }

  .mb-lg-6 {
    margin-bottom: 40px!important;
  }

  .mr-lg-6 {
    margin-right: 40px!important;
  }

  .ml-lg-6 {
    margin-left: 40px!important;
  }

  .mt-lg-n6 {
    margin-top: calc(-1* 40px)!important;
  }

  .mb-lg-n6 {
    margin-bottom: calc(-1* 40px)!important;
  }

  .mr-lg-n6 {
    margin-right: calc(-1* 40px)!important;
  }

  .ml-lg-n6 {
    margin-left: calc(-1* 40px)!important;
  }

  .my-lg-6 {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
  }

  .mt-lg-7 {
    margin-top: 48px!important;
  }

  .mb-lg-7 {
    margin-bottom: 48px!important;
  }

  .mt-lg-n7 {
    margin-top: calc(-1* 48px)!important;
  }

  .mb-lg-n7 {
    margin-bottom: calc(-1* 48px)!important;
  }

  .my-lg-7 {
    margin-top: 48px!important;
    margin-bottom: 48px!important;
  }

  .mt-lg-8 {
    margin-top: 64px!important;
  }

  .mb-lg-8 {
    margin-bottom: 64px!important;
  }

  .mt-lg-n8 {
    margin-top: calc(-1* 64px)!important;
  }

  .mb-lg-n8 {
    margin-bottom: calc(-1* 64px)!important;
  }

  .my-lg-8 {
    margin-top: 64px!important;
    margin-bottom: 64px!important;
  }

  .mt-lg-9 {
    margin-top: 80px!important;
  }

  .mb-lg-9 {
    margin-bottom: 80px!important;
  }

  .mt-lg-n9 {
    margin-top: calc(-1* 80px)!important;
  }

  .mb-lg-n9 {
    margin-bottom: calc(-1* 80px)!important;
  }

  .my-lg-9 {
    margin-top: 80px!important;
    margin-bottom: 80px!important;
  }

  .mt-lg-10 {
    margin-top: 96px!important;
  }

  .mb-lg-10 {
    margin-bottom: 96px!important;
  }

  .mt-lg-n10 {
    margin-top: calc(-1* 96px)!important;
  }

  .mb-lg-n10 {
    margin-bottom: calc(-1* 96px)!important;
  }

  .my-lg-10 {
    margin-top: 96px!important;
    margin-bottom: 96px!important;
  }

  .mt-lg-11 {
    margin-top: 112px!important;
  }

  .mb-lg-11 {
    margin-bottom: 112px!important;
  }

  .mt-lg-n11 {
    margin-top: calc(-1* 112px)!important;
  }

  .mb-lg-n11 {
    margin-bottom: calc(-1* 112px)!important;
  }

  .my-lg-11 {
    margin-top: 112px!important;
    margin-bottom: 112px!important;
  }

  .mt-lg-12 {
    margin-top: 128px!important;
  }

  .mb-lg-12 {
    margin-bottom: 128px!important;
  }

  .mt-lg-n12 {
    margin-top: calc(-1* 128px)!important;
  }

  .mb-lg-n12 {
    margin-bottom: calc(-1* 128px)!important;
  }

  .my-lg-12 {
    margin-top: 128px!important;
    margin-bottom: 128px!important;
  }
}

.py-1 {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.p-2 {
  padding: 8px!important;
}

.pt-3 {
  padding-top: 16px!important;
}

.px-3 {
  padding-left: 16px!important;
}

.px-3 {
  padding-right: 16px!important;
}

.py-3 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.p-5 {
  padding: 32px!important;
}

.py-6 {
  padding-top: 40px!important;
  padding-bottom: 40px!important;
}

.pb-8 {
  padding-bottom: 64px!important;
}

@media (min-width:768px) {
  .p-md-0 {
    padding: 0!important;
  }

  .pt-md-0 {
    padding-top: 0!important;
  }

  .pb-md-0 {
    padding-bottom: 0!important;
  }

  .px-md-0 {
    padding-left: 0!important;
  }

  .px-md-0 {
    padding-right: 0!important;
  }

  .py-md-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

  .p-md-1 {
    padding: 4px!important;
  }

  .pt-md-1 {
    padding-top: 4px!important;
  }

  .pb-md-1 {
    padding-bottom: 4px!important;
  }

  .px-md-1 {
    padding-left: 4px!important;
  }

  .px-md-1 {
    padding-right: 4px!important;
  }

  .py-md-1 {
    padding-top: 4px!important;
    padding-bottom: 4px!important;
  }

  .p-md-2 {
    padding: 8px!important;
  }

  .pt-md-2 {
    padding-top: 8px!important;
  }

  .pb-md-2 {
    padding-bottom: 8px!important;
  }

  .px-md-2 {
    padding-left: 8px!important;
  }

  .px-md-2 {
    padding-right: 8px!important;
  }

  .py-md-2 {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }

  .p-md-3 {
    padding: 16px!important;
  }

  .pt-md-3 {
    padding-top: 16px!important;
  }

  .pb-md-3 {
    padding-bottom: 16px!important;
  }

  .px-md-3 {
    padding-left: 16px!important;
  }

  .px-md-3 {
    padding-right: 16px!important;
  }

  .py-md-3 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
  }

  .p-md-4 {
    padding: 24px!important;
  }

  .pt-md-4 {
    padding-top: 24px!important;
  }

  .pb-md-4 {
    padding-bottom: 24px!important;
  }

  .px-md-4 {
    padding-left: 24px!important;
  }

  .px-md-4 {
    padding-right: 24px!important;
  }

  .py-md-4 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
  }

  .p-md-5 {
    padding: 32px!important;
  }

  .pt-md-5 {
    padding-top: 32px!important;
  }

  .pb-md-5 {
    padding-bottom: 32px!important;
  }

  .px-md-5 {
    padding-left: 32px!important;
  }

  .px-md-5 {
    padding-right: 32px!important;
  }

  .py-md-5 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
  }

  .p-md-6 {
    padding: 40px!important;
  }

  .pt-md-6 {
    padding-top: 40px!important;
  }

  .pb-md-6 {
    padding-bottom: 40px!important;
  }

  .px-md-6 {
    padding-left: 40px!important;
  }

  .px-md-6 {
    padding-right: 40px!important;
  }

  .py-md-6 {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
  }

  .pt-md-7 {
    padding-top: 48px!important;
  }

  .pb-md-7 {
    padding-bottom: 48px!important;
  }

  .py-md-7 {
    padding-top: 48px!important;
    padding-bottom: 48px!important;
  }

  .pt-md-8 {
    padding-top: 64px!important;
  }

  .pb-md-8 {
    padding-bottom: 64px!important;
  }

  .py-md-8 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
  }

  .pt-md-9 {
    padding-top: 80px!important;
  }

  .pb-md-9 {
    padding-bottom: 80px!important;
  }

  .py-md-9 {
    padding-top: 80px!important;
    padding-bottom: 80px!important;
  }

  .pt-md-10 {
    padding-top: 96px!important;
  }

  .pb-md-10 {
    padding-bottom: 96px!important;
  }

  .py-md-10 {
    padding-top: 96px!important;
    padding-bottom: 96px!important;
  }

  .pt-md-11 {
    padding-top: 112px!important;
  }

  .pb-md-11 {
    padding-bottom: 112px!important;
  }

  .py-md-11 {
    padding-top: 112px!important;
    padding-bottom: 112px!important;
  }

  .pt-md-12 {
    padding-top: 128px!important;
  }

  .pb-md-12 {
    padding-bottom: 128px!important;
  }

  .py-md-12 {
    padding-top: 128px!important;
    padding-bottom: 128px!important;
  }
}

.h4 {
  font-size: 16px!important;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 600!important;
}

.f2 {
  font-size: 22px!important;
}

@media (min-width:768px) {
  .f2 {
    font-size: 24px!important;
  }
}

.f4 {
  font-size: 16px!important;
}

@media (min-width:768px) {
  .f4 {
    font-size: 16px!important;
  }
}

.text-bold {
  font-weight: 600!important;
}

.text-semibold {
  font-weight: 500!important;
}

.text-light {
  font-weight: 300!important;
}

.text-underline {
  text-decoration: underline!important;
}

.no-underline {
  text-decoration: none!important;
}

.no-wrap {
  white-space: nowrap!important;
}

.list-style-none {
  list-style: none!important;
}

.text-mono {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace!important;
}

.user-select-none {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

.d-block {
  display: block!important;
}

.d-flex {
  display: flex!important;
}

.d-inline {
  display: inline!important;
}

.d-inline-block {
  display: inline-block!important;
}

.d-inline-flex {
  display: inline-flex!important;
}

.d-none {
  display: none!important;
}

@media (min-width:768px) {
  .d-md-block {
    display: block!important;
  }

  .d-md-flex {
    display: flex!important;
  }

  .d-md-inline {
    display: inline!important;
  }

  .d-md-inline-block {
    display: inline-block!important;
  }

  .d-md-inline-flex {
    display: inline-flex!important;
  }

  .d-md-none {
    display: none!important;
  }
}

@media (min-width:1012px) {
  .d-lg-block {
    display: block!important;
  }

  .d-lg-flex {
    display: flex!important;
  }

  .d-lg-inline {
    display: inline!important;
  }

  .d-lg-inline-block {
    display: inline-block!important;
  }

  .d-lg-inline-flex {
    display: inline-flex!important;
  }

  .d-lg-none {
    display: none!important;
  }
}

@media (min-width:1280px) {
  .d-xl-block {
    display: block!important;
  }

  .d-xl-flex {
    display: flex!important;
  }

  .d-xl-inline {
    display: inline!important;
  }

  .d-xl-inline-block {
    display: inline-block!important;
  }

  .d-xl-inline-flex {
    display: inline-flex!important;
  }

  .d-xl-none {
    display: none!important;
  }
}

.v-hidden {
  visibility: hidden!important;
}

.v-visible {
  visibility: visible!important;
}

@media (min-width:544px)and (max-width:767.98px) {
  .hide-md {
    display: none!important;
  }
}

@media (min-width:768px)and (max-width:1011.98px) {
  .hide-lg {
    display: none!important;
  }
}

@media (min-width:1012px) {
  .hide-xl {
    display: none!important;
  }
}

@supports (-webkit-touch-callout:none) {
  .form-control,  .form-select {
    font-size: 16px;
  }

@media (min-width:768px) {
    .form-control,    .form-select {
      font-size: 14px;
    }
}
}

@keyframes checkmarkIn {
  0% {
    -webkit-clip-path: inset(16px) 0 0 0;
    clip-path: inset(16px) 0 0 0;
  }

  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes checkmarkOut {
  0% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }

  to {
    -webkit-clip-path: inset(16px) 0 0 0;
    clip-path: inset(16px) 0 0 0;
  }
}

.Label,.label {
  border: 1px solid var(--colour-border);
  border-radius: 2em;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 7px;
  white-space: nowrap;
}

.Label:hover,.label:hover {
  text-decoration: none;
}

.Label--large {
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.Label--inline {
  display: inline;
  font-size: 85%;
  padding: .12em .5em;
}

h1>a,h2>a,h3>a,h4>a,h5>a,h6>a {
  color: unset;
  text-decoration: none;
}

body,html {
  scroll-padding-top: 105px!important;
}

@media (min-width:1400px) {
  body,  html {
    scroll-padding-top: 65px!important;
  }
}

.color-unset {
  color: unset;
}

@media print {
  .no-print {
    display: none;
  }
}

.hover\:color-bg-accent:hover {
  background: var(--colour-back-accent);
}

.-z-1 {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.hover-shadow-large {
  transition: box-shadow .3s ease-in-out;
}

.hover-shadow-large:hover {
  box-shadow: var(--color-shadow-large)!important;
}

.main-header {
  display: unset;
}

.logo-header {
  display: flex;
  align-items: center;
  color: var(--color-bg-default);
}

.hide-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#footer {
    padding-top: 0px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}